.header{
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.header> span{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.money-bg{
    background-color: gold;

}
.percent-bg{
    background-color: pink;

}