.header{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: gold;

}

.header> span{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}