<div class="content">

    <div>

        <mat-icon class="money icone"> monetization_on</mat-icon>
    </div>
    <form>

        
        <mat-form-field class="full-width">
        <span matPrefix>R$&nbsp;&nbsp;&nbsp;</span>
        <mat-label>Reais</mat-label>
        <input #real type="number"  matInput autocomplete="off" [(ngModel)]="reais" name="reais">
        
    </mat-form-field>
    <mat-form-field class="full-width">
        <span matPrefix>U$D&nbsp;&nbsp;&nbsp;</span>
        
        <mat-label>Dolar</mat-label>
        <input #dolar type="number" [(ngModel)]="dolares" name="dolares"matInput autocomplete="off">
        
    </mat-form-field>
    <mat-form-field class="full-width">
        <span matPrefix>€&nbsp;&nbsp;&nbsp;</span>
        <mat-label>Euro</mat-label>
        <input #euro type="number" [(ngModel)]="euros" name="euros" matInput autocomplete="off">
        
    </mat-form-field>
</form>
</div>